
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=OjeBoovi8xZQnNoaXlZ6yw==,EN5zc6hz2jk5G1wNJ+kbKQ==,JdfdIlmztWxAiE02NC/kKw==,nomrnXRjAkuSHXJPYIXm7Q==
API_TOKEN_SALT=6j8dankxqvzTsEs7NU1n9g==
ADMIN_JWT_SECRET=FW1MxBhcqx+kGD2dYZ9P7g==
TRANSFER_TOKEN_SALT=k5mx5yXoVd8U6Ss0pZ6LXw==
ENCRYPTION_KEY=6oPKNZ5+PzoQggizDE5O0g==

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=45.251.114.21
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=app
DATABASE_PASSWORD=admin@123$%^
DATABASE_SSL=false
DATABASE_FILENAME=
JWT_SECRET=/6BuURB/1vHsAlzQrLQcTA==
